
.page_background{

    background-color: #ffffff;
    color: #000000;


}

#lagrange_inner_container{

    /*width:900px;*/
    /*margin:auto;*/
    font-family: 'Didact Gothic', sans-serif;

}

#lagrange_title_container{

    /*font-family: 'Baskervville', serif;*/
    font-family: 'Didact Gothic', sans-serif;
    font-size:120px;
    /*min-height:300px;*/
    margin-bottom: 50px;


}

#lagrange_header_top{

    /*font-family: 'Baskervville', serif;*/
    font-family: 'Didact Gothic', sans-serif;
    font-size:30px;
    min-height:150px;
    min-width:100%;



}


#lagrange_statement_left_spacer{


}

#lagrange_statement_section{

    /*border:1pt solid rgba(255, 255, 255, 0.45);*/
    /*margin-bottom:50px;*/

}

#lagrange_statement_container{

    margin-left:150px;
    display:inline-block;
    /*margin-bottom:50px;*/
    padding:30px;
    border-left:1pt solid rgba(0, 0, 0, 0.58);

}


#lagrange_lemma_statement_container{

    margin-top:10px;
    padding-right: 55px;
    /*border-top:1pt solid white;*/

}


#lagrange_lemma_proof_container{

    /*padding: 20px;*/
    border-bottom:1pt solid white;

}

#lagrange_proof_container{

    position:absolute;
    left:400px;
    top:350px;
    width:200px;


}

#lagrange_left_word_column{

    position:relative;
    width:350px;
    display:inline-block;
    border-left:1pt solid rgba(255, 255, 255, 0.45);
    border-right:1pt solid rgba(255, 255, 255, 0.45);
    padding:10px;

}

#lagrange_letter_image{

    position:absolute;
    left:500px;
    font-size:300px;
    /*width:200px;*/
    display:inline-block;
    /*min-height:900px;*/
    font-family: 'Baskervville', serif;



}


.lagrange_containers{

    /*border: 1pt solid black;*/
}

.lagrange_paragraphs{

    margin-bottom:10px;
    font-size:15px;

}


