<div>BEAUTIFUL PROOFS</div>

<div>Brief Description...</div>

<div id="dirichlet">Dirichlet's Theorem</div>
<div id="de1">Diophantine Equations I: Linear and Quadratic Equations</div>
<div>Diophantine Equations II: Elliptic Curves</div>
<div>Diophantine Equations III: Higher Dimensional Curves</div>

<div>Single Page Proofs</div>
<div>Lagrange's Theorem</div>
