<div id="title_region"></div>
<div id="header_region"></div>
<div id="body_region"></div>






<!--<div>BEAUTIFUL PROOFS</div>-->

<!--<div>Brief Description...</div>-->

<!--<div>Notes</div>-->
<!--<div>Diophantine Equations I: Linear and Quadratic Equations</div>-->
<!--<div>Diophantine Equations II: Elliptic Curves</div>-->
<!--<div>Diophantine Equations III: Higher Dimensional Curves</div>-->

<!--<div>Single Page Proofs</div>-->
<!--<div>Lagrange's Theorem</div>-->
