
<div class="chapter_body">

    <div id="style_title_box">
    <div id="style_title">Beautiful Proofs Style Guide</div>
    </div>


    <div class="styleSectionTitle">Typography</div>

    <div class="styleSection">


<div class="fontBox">

        <div class="primaryFont fontLabel">Arpona</div>

    <div class="primaryFont fontSample bigFont">GROUPS</div>

</div>


    <div class="fontBox">
    <div class="secondaryFont fontLabel">Oswald</div>

    <div class="secondaryFont fontSample mediumFont">Largange's Theorem</div>
    </div>

    <div class="fontBox">
    <div class="tertiaryFont fontLabel">Lato</div>

    <div class="tertiaryFont fontSample smallFont">Given one integer solution to the equation $x^2+y^2=z^2$ we can find an infinite number of solutions by...</div>
    </div>

</div>


<div class="styleSectionTitle">Colors</div>

    <div class="styleSection">

<div class="colorbox" id="colorbox1"></div>
    <div class="colorbox" id="colorbox2"></div>
    <div class="colorbox" id="colorbox3"></div>

    </div>

<div class="styleSectionTitle">Result - Styles</div>

    <div class="styleSection>">

    <div class="math_result"><div class="result_title">Theorem 1.1</div> The Pythagorean equation $x^2 + y^2 = z^2$ has an infinite number of non-trivial solutions in $\mathbb{Z}$.</div>

    <div class="math_proof"><div class="proof_title"></div>

        <span>We know that $(3,4,5)$ is a solution to this equation. That is

        $$3^2 + 4^2 = 5^2 $$

        Let's now multiply the entire equation by $n^2$

        $$ n^2 3^2 + n^2 4^2 = n^2 5^2 $$

        Which we can rewrite as

        $$ (3n)^2 + (4n)^2 = (5n)^2 $$

        In other words, $(3n,4n,5n)$ is also a solution to the equation, for any $n$. In fact, this holds for all $n$, so we have our infinite
            set of solutions.</span>

        <i class="fas fa-square qed_tag"></i>

        <!--<span class="qed_tag">Q.E.D.</span>-->


    </div>


        <div>Example Styles</div>

<div>Problem Styles</div>

    <div>Links and Notes</div>

<div>Page Formats</div>

</div>